@model TestSystem.Web.Models.TakeTestViewModels.IndexViewModel

@{
    int i = 0; // questions counter
    int j = 0; // answer counter
}

<div id="page">

    <div class="take-test-content" style="width:100%">

        <form asp-controller="TakeTest" asp-action="Index" method="post">

            <div id="test-name" class="page-header table-header">@Model.TestName</div>

            <input asp-for="@Model.CategoryName" type="hidden" value="@Model.CategoryName">
            <input asp-for="@Model.TestName" type="hidden" value="@Model.TestName">
            <input asp-for="@Model.TestId" type="hidden" value="@Model.TestId">
            <input asp-for="@Model.Duration" type="hidden" value="@Model.Duration">
            <input asp-for="@Model.StartedOn" type="hidden" value="@Model.StartedOn">
            <input asp-for="@Model.UserId" type="hidden" value="@Model.UserId">

            <div class="form-row">
                <div id="ctg-name" class="col inline">
                    <div class="ctg"> Category: @Model.CategoryName</div>
                </div>
                <div class="col inline ctg set-right">
                    Time: @Model.Duration.Minutes min
                </div>
                <br />
            </div>

            <br />

            <div>
                @*Questions*@
                @foreach (var question in Model.Questions)
                {
                    <input asp-for="@Model.Questions[i].Id" type="hidden" value="@question.Id">
                    <div class="form-row title">
                        <div class="col col-sm-1 inline right">
                            @(i + 1).
                        </div>
                        <div class="col col-lg-11 title">
                            @question.Description
                        </div>
                    </div>

                    <div class="area-answers">
                        @*//Answers*@
                        @foreach (var answer in question.Answers)
                        {
                            
                            <label> 
                                <input asp-for="@Model.Questions[i].SelectedAnswer" type="radio" value="@answer.Id"> 
                                @answer.Content
                            </label>
                            <br />
                            j++;
                        }
                    </div>
                    <br />
                    i++;
                }

            </div>


            <div class="centered-btn-area">
                <button id="submit-test-btn" type="submit">Submit</button>
            </div>

        </form>
    </div>

</div>
