@model IEnumerable<ExistingTestViewModel>
@using TestSystem.Web.Areas.Administration.Models.DashboardViewModels


<table id="existingTestsTable" class="table table-bordered tab-content" style="width:100%">
    <thead class="table-header">
        <tr>
            <th class="col-md-4 text-center">Test Name</th>
            <th class="col-md-2 text-center">Category</th>
            <th class="col-md-2 text-center">Status</th>
            <th class="col-md-5 text-center">Actions</th>
        </tr>
    </thead>
    @if (Model.Any())
    {
        <tbody>
            @foreach (var test in Model)
            {
                <tr>
                    <td>@test.TestName</td>
                    <td>@test.Category</td>

                    @if (test.IsPusblished)
                    {
                        <td>Publlished</td>
                        <td>
                            <a class='btn btn-success btn-xs disabled'>
                                <span class="glyphicon glyphicon-ok"></span>
                                Published
                            </a>

                            <a class='btn btn-warning btn-xs disabled'>
                                <span class="glyphicon glyphicon-edit"></span>
                                Edit
                            </a>
                            <form asp-area="Administration" asp-controller="Dashboard" asp-action="DisableTest" method="get">
                                <input id="testName" name="testName" type="hidden" value="@test.TestName" />
                                <input id="categoryName" name="categoryName" type="hidden" value="@test.Category" />

                                <button type="submit" class="btn">
                                    Disable
                                </button>
                            </form>
                        </td>

                    }
                    else
                    {
                        <td>Draft</td>
                        <td>
                            <form asp-area="Administration" asp-controller="Dashboard" asp-action="PublishTest" method="post">
                                <input id="testName" name="testName" type="hidden" value="@test.TestName" />
                                <input id="categoryName" name="categoryName" type="hidden" value="@test.Category" />
                                <button type="submit" class="btn">
                                    Publish
                                </button>
                            </form>

                            <form asp-area="Administration" asp-controller="Dashboard" asp-action="EditTest" method="get">
                                <input id="testName" name="testName" type="hidden" value="@test.TestName" />
                                <input id="categoryName" name="categoryName" type="hidden" value="@test.Category" />
                                <button type="submit" class='btn'>
                                    Edit
                                </button>
                            </form>

                            <form asp-area="Administration" asp-controller="Dashboard" asp-action="DeleteTest" method="post">
                                <input id="testName" name="testName" type="hidden" value="@test.TestName" />
                                <input id="categoryName" name="categoryName" type="hidden" value="@test.Category" />
                                <button type="submit" class="btn">                                    
                                    Delete
                                </button>
                            </form>
                        </td>
                    }

                </tr>

            }
        </tbody>

    }
    else
    {
        <tr>
            <td>
                NO TESTS
            </td>
        </tr>
    }


</table>