@model TestSystem.Web.Models.DashboardViewModels.IndexViewModel
@{
    ViewData["Title"] = "Dashboard";
}


<h2 class="page-header">@ViewData["Title"]</h2>



<div class="dash-content">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        @for (int i = 0; i < Model.Categories.Count(); i++)
        {
            string categoryName = Model.Categories[i].Name;

            @if (!Model.Tests.Any(x => x.Name == categoryName))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       title="@i-tab"
                       id="@categoryName"
                       data-toggle="tab"
                       role="tab"
                       aria-controls="@i-content"
                       aria-selected="true"
                       onclick="categoryTabClickStart('@categoryName')">
                        @Model.Categories[i].Name
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link"
                       title="@i-tab"
                       id="@categoryName"
                       data-toggle="tab"
                       role="tab"
                       aria-controls="@i-content"
                       aria-selected="true"
                       onclick="categoryTabClickSubmitted('@categoryName Test')">
                        @Model.Categories[i].Name
                    </a>
                </li>
            }

        }
    </ul>

    <div class="user-dash-content" id="DashboardContent">

    </div>

</div>
