@model TestSystem.Web.Models.DashboardViewModels.IndexViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="page-header">@ViewData["Title"]</h2>


<div class="dash-content">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        @for (int i = 0; i < Model.Categories.Count(); i++)
        {
            string categoryName = Model.Categories[i].Name;

            @if (!Model.Tests.Where(t => t.IsSubmitted).Any(x => x.CategoryName == categoryName))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       title="@i-tab"
                       id="@categoryName"
                       data-toggle="tab"
                       role="tab"
                       aria-controls="@i-content"
                       aria-selected="true"
                       onclick="categoryTabClickStart('@categoryName')">
                        @Model.Categories[i].Name
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link"
                       title="@i-tab"
                       id="@categoryName"
                       data-toggle="tab"
                       role="tab"
                       aria-controls="@i-content"
                       aria-selected="true"
                       onclick="categoryTabClickSubmitted('@categoryName')">
                        @Model.Categories[i].Name
                    </a>
                </li>
            }

        }
    </ul>
    <div class="user-dash-content" id="DashboardContent">
    </div>


    <div class="col col-lg-6" style="display:inline-block">
        <div class="chart-container" style="position: relative; height:35vh; width:50vw">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="col col-lg-6" style="display:inline-block">
        <div id="testsTakenStatistic" class="text-center">Total Test Taken by all Users: @Model.TestsTaken</div>
    </div>


        @section scripts
            {
            <script src="~/js/Dashboard.js" asp-append-version="true"></script>
        }


    </div>
