@model TestSystem.Web.Models.DashboardViewModels.IndexViewModel
@{
    ViewData["Title"] = "Dashboard";
}


<h2>@ViewData["Title"]</h2>

<div>
    <asp:LoginName id="LoginName1" runat="server" FormatString="Welcome, {0}" />
</div>


<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">

        @for (int i = 0; i < Model.Categories.Count(); i++)
        {
            string categoryName = Model.Categories[i].Name;

            @if (!Model.Tests.Any(x => x.Name == categoryName))
            {
                <li class="nav-item">
                    <a class="nav-link"
                       title="@i-tab"
                       id="@categoryName"
                       data-toggle="tab"
                       role="tab"
                       aria-controls="@i-content"
                       aria-selected="true"
                       onclick="categoryTabClickStart('@categoryName Test')">
                        @Model.Categories[i].Name
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link"
                       title="@i-tab"
                       id="@categoryName"
                       data-toggle="tab"
                       role="tab"
                       aria-controls="@i-content"
                       aria-selected="true"
                       onclick="categoryTabClickSubmitted('@categoryName Test')">
                        @Model.Categories[i].Name
                    </a>
                </li>
            }

        }
    </ul>

    <div class="tab-content" id="DashboardContent" 
         style="
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
        vertical-align:central; 
        height:50px; 
        padding:15px 15px 10px 10px;
        margin-top:10px">


    </div>

</div>
