@model TestSystem.Web.Areas.Administration.Models.CreateTestViewModels.AdministerTestViewModel

<div id="questions-container">
    <button id="add-question" class="btn btn-default create-test-btn-green" type="button">
        <span class="glyphicon glyphicon-plus"></span>
        Question
    </button>

    <div id="questions-body" class="row">

        @if (Model.Questions != null && Model.Questions.Count != 0)
        {
            for (int q = 0; q < Model.Questions.Count; q++)
            {
                <div id="question-@q" class="question-container">
                    <div class="panel-heading">
                        <a class="questionNumber" id="questionNumber" data-toggle="collapse" href="#collapse-@q">Question @string.Format("{0}", q + 1)</a>
                        <button type="button" class="delete-question create-test-btn-red">
                            <span class="glyphicon glyphicon-remove">
                            </span>
                        </button>
                    </div>

                    <div id="collapse-@q" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div>Description</div>
                            <textarea id="@string.Format("Questions_{0}__Description", q)" name="Questions[@q].Description" class="summernote form-control input-lg" value="">@Model.Questions[q].Description</textarea>
                            <span asp-validation-for="Questions[q].Description" class="text-danger"></span>
                            <input asp-for="Questions[q].Id" type="hidden" value="@(Model.Questions[q].Id)" />
                            <span asp-validation-for="Questions[q].Id" class="text-danger" style="display:none"></span>

                        </div>
                        <div class="answers-container">
                            @for (int a = 0; a < Model.Questions[q].Answers.Count; a++)
                            {
                                <div id="question-@q-answer-@a" class="answer-container">
                                    <div class="answer-heading">
                                        <div class="answerNumber" id="answerNumber">Answer @string.Format("{0}", a + 1)</div>
                                        @if (Model.Questions[q].Answers[a].IsCorrect)
                                        {
                                            <input id="@string.Format("Questions_{0}__Answers_{1}__IsCorrect", q, a)" class="answer-is-correct create-test-radio" name="radio-@q" type="radio" value="true" autocomplete="off" checked>
                                        }
                                        else
                                        {
                                            <input id="@string.Format("Questions_{0}__Answers_{1}__IsCorrect", q, a)" class="answer-is-correct create-test-radio" name="radio-@q" type="radio" value="true" autocomplete="off">
                                        }
                                        <button class="delete-answer create-test-btn-red" type="button">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                    <div class="answer-body">
                                        <textarea id="@string.Format("Questions_{0}__Answers_{1}__Content", q, a)" name="Questions[@q].Answers[@a].Content" class="summernote answer-content">@Model.Questions[q].Answers[a].Content</textarea>
                                        <span asp-validation-for="Questions[q].Answers[a].Content" class="text-danger"></span>
                                        <input asp-for="Questions[q].Answers[a].Id" type="hidden" value="@(Model.Questions[q].Answers[a].Id)" />
                                        <span asp-validation-for="Questions[q].Answers[a].Id" class="text-danger" style="display:none"></span>

                                    </div>
                                </div>
                            }
                        </div>
                        <div class="panel-body">
                            <button class="add-answer create-test-btn-green" name="collapse-@q" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                                Answer
                            </button>
                        </div>

                    </div>

                </div>
            }
        }
        else
        {
            <div>
                <h4 class="w-100 p-3">You need to add Questions to your Test</h4>
            </div>
        }
    </div>
</div>